/* Layout - start*/
.flex {
  display: flex;
  gap: 1rem;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.flex--start {
  display: flex;
  justify-content: flex-start;
}

.flex--end {
  display: flex;
  justify-content: flex-end;
}

.flex--between {
  display: flex;
  justify-content: space-between;
}

.flex--center {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-end-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-center-baseline {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-vr {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 1rem;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 3px;
}

.gap-3 {
  gap: 3px;
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-10 {
  gap: 10px;
}

.gap-14 {
  gap: 14px;
}

.gap-16 {
  gap: 16px;
}

.gap-18 {
  gap: 18px;
}

.gap-20 {
  gap: 20px;
}

.gap-24 {
  gap: 24px;
}

.gap-28 {
  gap: 28px;
}

.gap-32 {
  gap: 32px;
}

.gap-36 {
  gap: 36px;
}

.gap-40 {
  gap: 40px;
}

.gap-48 {
  gap: 48px;
}

.gap-56 {
  gap: 56px;
}

.gap-60 {
  gap: 60px;
}

.gap-80 {
  gap: 80px;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-6 {
  flex: 6;
}

.flex-5 {
  flex: 5;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-12 {
  flex: 12;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Layout - end*/

/* Wrapping containers styling - start*/
.mkp-page {
  max-height: calc(100vh - 40px) !important;
}

.mkp-logo {
  transform: translateX(12px);
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

.page-header-light {
  .light-actions {
    display: flex;
  }

  .default-actions {
    display: none;
  }

  div[class*="minimized"] {
    .light-actions {
      display: none;
    }

    .default-actions {
      display: flex;
    }
  }
}

.cell-hidden-item {
  opacity: 0;
}

.table-row {
  &:hover {
    .cell-hidden-item {
      opacity: 1;
    }
  }
}

.table-sticky-header-for-modal {
  top: 0 !important;
}

.visible-overflow {
  overflow: visible !important;
}

.hide-bg-color {
  background: none !important;
}

.table-wrapper-card {
  border-radius: 0 0 8px 8px !important;
}

.half-card-borders {
  border-radius: 8px 8px 0 0 !important;
}

.modal-page {
  width: 100%;
}

/* Wrapping containers styling - end*/

/* Hide elements screen only - start*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Hide elements screen only - end*/

.modal-box-sizing div {
  box-sizing: border-box;
}

.segmented-toggle-mini button {
  flex: auto;
  padding-inline: 12px !important;
}
