.align-ol-list {
  transform: translateX(-14px);
}

.medium-low {
  font-size: 14px !important;
  line-height: normal !important;
}
.medium-hight {
  font-size: 18px !important;
  line-height: normal !important;
}

.img-icon {
  margin: -12px 2px 0 2px;
  transform: translateY(5px);
}

.feedback-iframe {
  border: 0;
  overflow: hidden;
  filter: saturate(1.5);
  transform: translateY(-170px);
  margin-bottom: -170px;
}

.overlay-container {
  border: none;
  position: absolute;
  bottom: -60px;
  right: 20px;
  width: 132px;
  height: 48px;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  border-radius: 16px;
}

.frame-container {
  position: relative;
  width: 600px;
  height: 324px;
  overflow: scroll;
}

.no-post-review {
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: 380px;
  border-radius: 6px;
  font-size: 11px;
  padding: 12px;
  background: #ffd52842;
}
